# Задание 1
Напишите функцию, которая классифицирует фильмы из материалов занятия по следующим правилам:
- оценка 2 и меньше - низкий рейтинг
- оценка 4 и меньше - средний рейтинг
- оценка 4.5 и 5 - высокий рейтинг

Результат классификации запишите в столбец class

In [48]:
import pandas as pd
movies = pd.read_csv('/Users/maksim/Netology/material/ml-latest-small/movies.csv')
ratings = pd.read_csv('/Users/maksim/Netology/material/ml-latest-small/ratings.csv')

In [50]:
def red_rating (par):
    if par >= 4.5:
        return "высокий рейтинг"
    elif par > 2:
        return "средний рейтинг"
    else:
        return "низкий рейтинг"

In [51]:
merge_film = ratings.merge(movies)
ratings_sort = merge_film.groupby('title').mean()[['rating']]

ratings_sort['class'] = ratings_sort['rating'].apply(red_rating)
ratings_sort

                                             rating            class
title
'71 (2014)                                 4.000000  средний рейтинг
'Hellboy': The Seeds of Creation (2004)    4.000000  средний рейтинг
'Round Midnight (1986)                     3.500000  средний рейтинг
'Salem's Lot (2004)                        5.000000  высокий рейтинг
'Til There Was You (1997)                  4.000000  средний рейтинг
...                                             ...              ...
eXistenZ (1999)                            3.863636  средний рейтинг
xXx (2002)                                 2.770833  средний рейтинг
xXx: State of the Union (2005)             2.000000   низкий рейтинг
¡Three Amigos! (1986)                      3.134615  средний рейтинг
À nous la liberté (Freedom for Us) (1931)  1.000000   низкий рейтинг

[9719 rows x 2 columns]

# Задание 2
Используем файл keywords.csv.

Необходимо написать гео-классификатор, который каждой строке сможет выставить географическую принадлежность определенному региону. Т. е. если поисковый запрос содержит название города региона, то в столбце ‘region’ пишется название этого региона. Если поисковый запрос не содержит названия города, то ставим ‘undefined’.

Правила распределения по регионам Центр, Северо-Запад и Дальний Восток:
Результат классификации запишите в отдельный столбец region.

In [60]:
geo_data = {
'Центр': ['москва', 'тула', 'ярославль'],
'Северо-Запад': ['петербург', 'псков', 'мурманск'],
'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
}

In [2]:
keywords = pd.read_csv('/Users/maksim/Netology/material/ml-latest-small-1/keywords.csv')

In [111]:
keywords.tail()
#filtered = keywords[keywords['keyword'].str.contains('москва', case=False) ]
#filter2 = keywords["keyword"].isin(["москва", "тула", "ярославль" ])

                       keyword  shows
99995   эльдорадо старый оскол   3705
99996      frigate для firefox   3630
99997                   укрсиб   3630
99998  погода в ялте на неделю   3688
99999                     ггму   3630

In [119]:
def geo_class (keys):
    for key_region in geo_data:
        for city in geo_data[key_region]:
            if city in keys:
                return key_region
    else:
         return "undefined"
                

keywords['region'] = keywords['keyword'].apply(geo_class)
keywords[ (keywords['region'] == 'Центр') ]

                                                keyword   shows region
127                                        авито москва  979292  Центр
849                                     авито ярославль  209581  Центр
1259                                             москва  153050  Центр
1396                                    гисметео москва  140279  Центр
1482                                   госуслуги москва  133061  Центр
...                                                 ...     ...    ...
98943  вакансии на авито москва от прямых работодателей    3738  Центр
99292                      афиша кино москва на сегодня    3704  Центр
99590             авито ярославль автомобили с пробегом    3673  Центр
99890                               яндекс метро москва    4548  Центр
99922                                 авто ру ярославль    3712  Центр

[387 rows x 3 columns]

# Задание 3 (бонусное)
Есть мнение, что “раньше снимали настоящее кино, не то что сейчас”. Ваша задача проверить это утверждение, используя файлы с рейтингами фильмов из прошлого домашнего занятия (файл ratings.csv из базы https://grouplens.org/datasets/movielens). Т. е. проверить верно ли, что с ростом года выпуска фильма его средний рейтинг становится ниже.

При этом мы не будем затрагивать субьективные факторы выставления этих рейтингов, а пройдемся по следующему алгоритму:

В переменную years запишите список из всех годов с 1950 по 2010.
Напишите функцию production_year, которая каждой строке из названия фильма выставляет год выпуска. Не все названия фильмов содержат год выпуска в одинаковом формате, поэтому используйте следующий алгоритм:
для каждой строки пройдите по всем годам списка years
если номер года присутствует в названии фильма, то функция возвращает этот год как год выпуска
если ни один из номеров года списка years не встретился в названии фильма, то возвращается 1900 год
Запишите год выпуска фильма по алгоритму пункта 2 в новый столбец ‘year’
Посчитайте средний рейтинг всех фильмов для каждого значения столбца ‘year’ и отсортируйте результат по убыванию рейтинга

In [45]:
import re
years = []
for i in range(1950,2011):
    i = str(i)
    years.append(i)

In [57]:
def production_year(strk):
    year = re.findall(r'[(](\d{4})[)]',strk)   
    if year == []:
        return '1900'
    else:
        year = year[0]
        if year in years:
            return year

In [58]:
"""merge_film из задания 1"""
merge_film['year'] = merge_film['title'].apply(production_year)
ratings_year_sort = merge_film.groupby('year').mean()[['rating']]
ratings_year_sort.sort_values('rating').tail()

        rating
year
1964  3.940160
1952  3.953125
1962  3.969466
1954  4.009191
1957  4.039535